@page
@model FinalProject_ZPloy.Pages.UserAccount.CreateUserModel
@{
}


<form method="post">
    <div class="form-group">
        <label asp-for="@Model.User.Username" class="control-label">Username </label>
        <input asp-for="@Model.User.Username" class="form-control" />
        <span asp-validation-for="@Model.User.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Password" class="control-label">Password</label>
        <input type="password" asp-for="@Model.User.Password" class="form-control" />
        <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmPassword" class="control-label">Confirm Password</label>
        <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
    </div>
    <h3 style="margin-bottom:20px; text-align:center; color: red; font-family: " Comic Sans MS";> @Model.registerMessage</h3>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
