@page
@model FinalProject_ZPloy.Pages.Tasks.GetAllTasksModel
@{
}
<p>
    <a asp-page="/Tasks/CreateTask"> Create Task</a>
</p>


<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th> Task ID </th>
                <th> Title </th>
                <th> Description </th>
                <th> Prize </th>
                <th> Category </th>
                <th> Location </th>
                <th> Payment method </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tasks)
            {
            <tr>
                <td> @item.TaskID </td>
                <td> @item.Title </td>
                <td> @item.Description </td>
                <td> @item.Prize </td>
                <td> @item.Categories </td>
                <td> @item.Location </td>
                <td> @item.Payment </td>


                @if (item.CreatorID != Model.loggedUser)
                {
                    @if (!Model.bidService.CheckWhetherUserAppliedForTheTask(Model.loggedUser, item.TaskID))
                    {
                        <td>
                            <button type="button" class="btn-dark" disabled><a asp-page="/Tasks/ApplyForTask" class="btn-dark" asp-route-taskId="@item.TaskID">Apply</a></button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button type="button" class="btn-dark" disabled>Applied Succesfully!</button>
                        </td>
                    }
                }
                else
                {
                    <td>
                        <a asp-page="/Tasks/DeleteTask" class="btn-danger" asp-route-id="@item.TaskID">Delete</a>
                    </td>
                    <td>
                        <a asp-page="/Tasks/EditTask" class="btn-outline-light" asp-route-id="@item.TaskID">Edit</a>
                    </td>
                }
            </tr>

            }
        </tbody>

    </table>
</div>


