@page
@model FinalProject_ZPloy.Pages.Tasks.GetAllTasksModel
@{
}
<p>
    <a asp-page="/Tasks/CreateTask"> Create Task</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>  Task ID   </th>
            <th>    Title  </th>
            <th>    Description  </th>
            <th>  Prize   </th>
            <th>    Location  </th>
            <th>    UserID  </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tasks)
        {
<tr>
    <td> @item.TaskID </td>
    <td> @item.Title </td>
    <td> @item.Description </td>
    <td> @item.Prize </td>
    <td> @item.Location </td>
    <td> @item.PerformerID </td>



</tr>}
    </tbody>
</table>