@page
@model FinalProject_ZPloy.Pages.Tasks.MyTasksModel
@{
}
<p>
    <a class="btn btn-secondary" asp-page="/Tasks/GetAllTasks"> All Tasks </br> </a>
</p>




@foreach (var item in Model.tasks)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                        <div class="img-square-wrapper">
                            <img class="img" style="width:100%; max-width: 100px; height:100%; max-height:100px" src="https://ih1.redbubble.net/image.3309494085.9897/ur,pin_large_front,square,600x600.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">@item.Title</h6>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a style="margin-right: 2px"> Location: </a> @item.Location <a style="margin-right: 40px"></a>
                            <a style="margin-right: 2px"> Category: </a> @item.Categories <a style="margin-right: 40px"></a>
                            <a style="margin-right: 2px"> Payment Type: </a> @item.Payment <a style="margin-right: 40px"></a>
                            <a style="margin-right: 2px"> Price: </a> @item.Prize <a style="margin-right: 40px"></a>



                            <a style="float: right; width: 80px" class="btn btn-secondary" asp-page="/Tasks/DeleteTask" asp-route-id="@item.TaskID"> Delete </a>
                            <a style="margin-right:10px; float:right; width: 80px" class="btn btn-secondary" asp-page="/Tasks/EditTask" asp-route-id="@item.TaskID"> Edit </a>
                            <a style="margin-right:10px; float:right; width: 130px" class="btn btn-secondary" asp-page="/Tasks/Applications" asp-route-id="@item.TaskID"> Applications </a>

                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
}